absl-py==0.7.1
astunparse==1.6.3
Bottleneck==1.2.1
certifi==2019.9.11
chardet==3.0.4
cycler==0.10.0
Cython==0.29.16
gast==0.3.3
google-pasta==0.1.8
grpcio==1.27.2
idna==2.8
json-tricks==3.17.0
Keras-Preprocessing==1.1.2
kiwisolver==1.1.0
matplotlib==3.2.2
mpmath==1.1.0
numexpr==2.7.0
numpy==1.18.5
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
opencv-python==4.7.0.72
opt-einsum==3.1.0
packaging==23.1
pandas==1.0.5
Pillow==7.0.0
ply==3.11
protobuf==3.11.2
pycocotools==2.0.6
pyparsing==2.4.2
python-dateutil==2.8.0
pytz==2019.3
PyYAML==5.3.1
requests==2.22.0
scipy==1.5.0
semver==2.8.1
six==1.14.0
sympy==1.4
tensorboardX==2.6
termcolor==1.1.0
torch==1.13.1
torchvision==0.14.1
tqdm==4.65.0
typing_extensions==4.6.2
urllib3==1.25.6
virtualenv==16.7.6
wrapt==1.11.2
xarray==0.14.0
yacs==0.1.8
